<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareFish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>622C957E1BC8A8B7003CB344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>622C95921BC8A8B8003CB344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>622C959D1BC8A8B8003CB344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
